body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333
}

main {
    background-color: #f2f2f2;
    padding: 20px;
}

header,
footer {
    text-align: center;
    padding: 40px 0;
    background: #DADADA;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 2px solid #083073;
}

nav ul li a {
    display: block;
    background: #EDBB03;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #083073;
}

@media only screen and (min-width: 600px) {
	
	header, footer, #container {
        max-width: 1020px;
        margin: auto;
    }

    #container {
        display: flex;
    }

    nav {
        flex: 1;
        background-color: #F7E5A3
    }
    
    main {
        flex: 2;
    }
	
}

@media only screen and (min-width: 1020px) {
	
	nav {
        flex:1;
    }

    main {
        flex: 3;
        display: flex;
        gap: 20px;
    }

    main article {
        flex: 1;
    }
	
}