body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 100px 0;
    text-align: center;
}

section {
    border: 2px solid #666;
    padding: 50px;
    max-width: 800px;
    margin: 50px auto;
}

section img {
    display: block;
    max-width: 100%;
}

.container {
    width: 75%;
    margin: auto;
    background-color: #dff5c9;
    min-height: 600px;
    position: relative;
}

.container div {
    width:100px;
    height: 100px;
    background-color: #4a6133;
    color: #fff;
    display: grid;
    place-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
}
