@font-face {
    font-family: 'freightround_probold';
    src: url('type/freightroundprobold-webfont.woff2') format('woff2'),
        url('type/freightroundprobold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: STIX_Two_Math;
    src: url(type/STIXTwoMath-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}

.unifrakturmaguntia-regular {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
}


body {
    max-width: 600px;
    margin: auto;
}

h1 {
    font-family: "UnifrakturMaguntia", cursive;
}

p {
    font-family: "STIX_Two_Math";
}

.icon {
    font-size: 60px;
    color: pink;
}