body {
    width: 700px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    line-height: 1.5;
    background-color: #FFF1E0;
}

h3 {
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 5px;
}

h4 {
    font-size: 19px;
    background-color: #5C4033;
    color: white;
    padding: 10px;
    text-align: center;
}


figure {
    margin: 2em auto;
    text-align: center;
}

figcaption {
    font-size: 14px;
}

img {
    border-radius: 20px;
    border: 5px solid #5C4033;
}

.cited p {
    padding-left: -3em;
    text-indent: 3em;
}

footer {
    margin-top: 4em;
    padding: 1.5em 0;
    border-top: 1px solid #808080;
}