* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	color: #333;
}

header,
footer {
	text-align: center;
	padding: 50px 0;
	background-color: darkgoldenrod;
}

section {
	padding: 50px 0;
}

h2,
p {
	line-height: 1.4em;
}

a {
	text-decoration: none;
	color: bisque;
}

/************** Article Animation Styles *************/

h2 {
	text-align: center;
	margin-bottom: 15px;
}

article {
	margin: auto;
	width: 400px;
	height: 400px;
	border: 5px solid #666;
	border-radius: 50%;

	background: url(images/IMG_6039.jpg);
	background-size: cover;

	position: relative;
	overflow: hidden;
}

article div {
	position: absolute;
	top: 335px;
	left: 0px;

	text-align: center;
	width: 300px;
	height: 220px;
	padding: 15px 50px;

	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;

	transition: all 500ms cubic-bezier(0.190, 1.000, 0.570, 0.290);
	/* custom */



}

article:hover div {
	top: 150px;
}