body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    max-width: 800px;
    margin: 2em auto;
    text-align: left;
    line-height: 1.4em;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#parent {
    width: 800px;
    padding: 40px;
    border: 5px solid #be4407;
    background-color: #efefef;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#parent2 {
    margin-top: 20px;
    width: 800px;
    padding: 40px;
    border: 5px solid #be4407;
    background-color: #efefef;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}


#parent3 {
    margin-top: 20px;
    width: 800px;
    padding: 40px;
    border: 5px solid #be4407;
    background-color: #efefef;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

#parent4 {
    margin-top: 20px;
    width: 800px;
    padding: 40px;
    border: 5px solid #be4407;
    background-color: #efefef;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

#parent5 {
    margin-top: 20px;
    width: 800px;
    padding: 40px;
    border: 5px solid #be4407;
    background-color: #efefef;
    margin: auto;
    display: flex;
}




.child {
    padding: 20px;
    border: 2px solid #0084ff;
    background-color: beige;
}