body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 100px 0;
    text-align: center;
}

section {
    border: 2px solid #666;
    padding: 50px;
    max-width: 800px;
    margin: 50px auto;
}

section img {
    display: block;
    max-width: 70%;
    margin: auto;
}

.container {
    width: 30%; /* note percentage and aspect ratio */
    aspect-ratio: 1/1;
    margin: 120px auto;
    background-color: #dff5c9;
    position: relative;
}

.container div {
    width:75%; /* Note percentage and aspect ratio */
    aspect-ratio: 1/1;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display: grid;
    place-content: center;
    position: absolute;
}

#box1 { 
    background-color: #840d0d;
    bottom: -25%;
    left: -25%;
}

#box2 { 
    background-color: #271a71;
    top: -25%;
    right: -25%;
}