/* Put example 1 CSS here */
#ex1 {
    width: 100px;
    height: 100px;
    border: 10px solid blue;
    background-color: red;
}

#ex1:hover {
    width: 500px;
    transition: width 7s;
}

#ex2 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: normal;
    color: skyblue;
}

#ex2:hover {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 5px;
    color: tomato;
    transition: all 2s;
}

#ex3 {
    background-color: lightgray;
    padding: 20px;
}

#ex3 div {
    background-color: mediumaquamarine;
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    transition-property: width;
    transition-duration: 3s;
}

#ex3 div:hover {
    width: 600px;
    cursor: pointer;
}

#ex3a {
    transition-timing-function: linear;
}

#ex3b {
    transition-timing-function: ease;
}

#ex3c {
    transition-timing-function: ease-in;
}

#ex3d {
    transition-timing-function: ease-out;
}

#ex3e {
    transition-timing-function: ease-in-out;
}

#ex3f {
    transition-timing-function: cubic-bezier(0.610, 0.185, 0.440, 1.650);
}



/* Put example 4 CSS here */

#ex4 {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: #4068b2;
    border: 5px solid black;
    border-radius: 0px;
    transition-property: border, border-radius;
    transition-duration: 1s, 5s;
    transition-timing-function: ease;
}

#ex4:hover {
    background-color: #ab0e0e;
    border: 10px solid #7123ee;
    border-radius: 20px;
}